### Feature Selection-Dropping Constant Features

In [2]:
# Import pandas to create DataFrame
import pandas as pd

# Make DataFrame of the Given Data
data = pd.DataFrame ({"A": [1,2,4,1,2,4],
                     "B": [4,5,6,7,8,9],
                     "C": [0,0,0,0,0,0],
                     "D": [1,1,1,1,1,1]})

In [3]:
data.head()

   A  B  C  D
0  1  4  0  1
1  2  5  0  1
2  4  6  0  1
3  1  7  0  1
4  2  8  0  1

In [8]:
### It will remove zero variance features
from sklearn.feature_selection import VarianceThreshold
var_thres=VarianceThreshold(threshold=0)
var_thres.fit(data)

VarianceThreshold(threshold=0)

In [9]:
VarianceThreshold(threshold=0)

VarianceThreshold(threshold=0)

In [10]:
var_thres.get_support()

array([ True,  True, False, False])

In [12]:
data.columns[var_thres.get_support()]

Index(['A', 'B'], dtype='object')

In [13]:
constant_columns = [column for column in data.columns
                    if column not in data.columns[var_thres.get_support()]]

print(len(constant_columns))

2

In [14]:
for feature in constant_columns:
     print(feature)

C
D

In [15]:
data.drop(constant_columns,axis=1)

   A  B
0  1  4
1  2  5
2  4  6
3  1  7
4  2  8
5  4  9

## Now I will Practice on bigger dataset
https://www.kaggle.com/c/santander-customer-satisfaction/data?select=train.csv

In [16]:
import pandas as pd
from sklearn.feature_selection import VarianceThreshold

In [17]:
df=pd.read_csv('santander.csv',nrows=10000)

FileNotFoundError: [Errno 2] No such file or directory: 'santander.csv'

In [18]:
df.shape

NameError: name 'df' is not defined

In [19]:
df.head()

NameError: name 'df' is not defined

In [20]:
X=df.drop(labels=['TARGET'], axis=1)
y=df['TARGET']

NameError: name 'df' is not defined

In [22]:
from sklearn.model_selection import train_test_split
# separate dataset into train and test
X_train, X_test, y_train, y_test = train_test_split(
    df.drop(labels=['TARGET'], axis=1),
    df['TARGET'],
    test_size=0.3,
    random_state=0)

X_train.shape, X_test.shape

NameError: name 'train_test_split' is not defined

In [23]:
## Apply Variance Threshold
var_thres=VarianceThreshold(threshold=0)
var_thres.fit(X_train)

NameError: name 'X_train' is not defined

In [24]:
var_thres.get_support()

NotFittedError: This VarianceThreshold instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [25]:
### Finding non constant features
sum(var_thres.get_support())

NotFittedError: This VarianceThreshold instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [26]:
# Lets Find non-constant features 
len(X_train.columns[var_thres.get_support()])

NameError: name 'X_train' is not defined

In [27]:
constant_columns = [column for column in X_train.columns
                    if column not in X_train.columns[var_thres.get_support()]]

print(len(constant_columns))

NameError: name 'X_train' is not defined

In [28]:
for column in constant_columns:
    print(column)

C
D

In [29]:
X_train.drop(constant_columns,axis=1)

NameError: name 'X_train' is not defined

### 2. Feature Selection-with Correlation

In [31]:
### importing libraries
from sklearn.datasets import load_boston
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

ImportError:
`load_boston` has been removed from scikit-learn since version 1.2.

The Boston housing prices dataset has an ethical problem: as
investigated in [1], the authors of this dataset engineered a
non-invertible variable "B" assuming that racial self-segregation had a
positive impact on house prices [2]. Furthermore the goal of the
research that led to the creation of this dataset was to study the
impact of air quality but it did not give adequate demonstration of the
validity of this assumption.

The scikit-learn maintainers therefore strongly discourage the use of
this dataset unless the purpose of the code is to study and educate
about ethical issues in data science and machine learning.

In this special case, you can fetch the dataset from the original
source::

    import pandas as pd
    import numpy as np

    data_url = "http://lib.stat.cmu.edu/datasets/boston"
    raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
    data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
    target = raw_df.values[1::2, 2]

Alternative datasets include the California housing dataset and the
Ames housing dataset. You can load the datasets as follows::

    from sklearn.datasets import fetch_california_housing
    housing = fetch_california_housing()

for the California housing dataset and::

    from sklearn.datasets import fetch_openml
    housing = fetch_openml(name="house_prices", as_frame=True)

for the Ames housing dataset.

[1] M Carlisle.
"Racist data destruction?"
<https://medium.com/@docintangible/racist-data-destruction-113e3eff54a8>

[2] Harrison Jr, David, and Daniel L. Rubinfeld.
"Hedonic housing prices and the demand for clean air."
Journal of environmental economics and management 5.1 (1978): 81-102.
<https://www.researchgate.net/publication/4974606_Hedonic_housing_prices_and_the_demand_for_clean_air>

In [35]:
### Loading the dataset 
data = load_boston()
df = pd.DataFrame(data.data,columns= data.feature_names)
df["MEDV"]=data.trrget

NameError: name 'load_boston' is not defined

In [33]:
df.head()

NameError: name 'df' is not defined

In [34]:
data.feature_names

AttributeError: 'DataFrame' object has no attribute 'feature_names'

In [36]:
x = df.drop("MEDV", axis=1) ## Feature Matrix
y = df["MEDV"]

NameError: name 'df' is not defined

In [37]:
df.head()
x.head()

NameError: name 'df' is not defined

### Information Gain _ Mutual Information in Classification

In [38]:
import pandas as pd

### Information Gain _ Mutual Information in Regression Problem statements

In [39]:
housing_df=housing_df[numerical_cols]

NameError: name 'housing_df' is not defined

In [40]:
housing_df.drop("Id",axis=1)

NameError: name 'housing_df' is not defined

### Feature Selection-Various Techniques to Select using Chi2 Statistical ANalysis

In [42]:
import seaborn as sns
df=sns.load_dataset('titanic')

In [43]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [44]:
### ['Sex', 'embarked', 'alone', 'pclass', 'Survived']
df = df[['Sex', 'embarked', 'alone', 'pclass', 'Survived']]
df.head()

KeyError: "['Sex', 'Survived'] not in index"

In [45]:
### Let's perform label encoding on sex column
import numpy as np
df['sex']=np.where(df['sex']=="male",1,0)
### Let's perform label encoding on embarked

In [46]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,1,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,0,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,0,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,0,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,1,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [47]:
### train test split is usually done to avoid overfitting
from sklearn.model_selection import train_test_split
X_test

NameError: name 'X_test' is not defined

In [48]:
### perform chi2 test
### chi2 returns 2 values
### Fscore and the p value
from sklearn.feature_selection import chi2
f_p_values=chi2(X_train,y_train)

NameError: name 'X_train' is not defined

In [49]:
f_p_values

NameError: name 'f_p_values' is not defined

In [50]:
p_values=pd.Series(f_p_values[1])

NameError: name 'f_p_values' is not defined

### Feature Selection Techniques

In [51]:
import pandas as pd
df=pd.read_csv('mobile_dataset.csv')
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'mobile_dataset.csv'

#### Univariate Selection

In [52]:
X=df.iloc[:,:-1]
y=df['price_range']

KeyError: 'price_range'

In [53]:
X.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive
0,0,3,1,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no
1,1,1,0,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes
2,1,3,0,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes
3,1,1,0,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes
4,0,3,1,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no

In [54]:
Y.head()

NameError: name 'Y' is not defined

In [56]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [59]:
### Apply SelectKBest ALgorithm
ordered_rank_features=SelectKbest(score_func=chi2,k=20)
ordered_feature=ordered_rank_features.fit(X,y)

NameError: name 'SelectKbest' is not defined

In [58]:
df.shape

(891, 15)

In [61]:
pd.DataFrame(ordered_feature.scores_,columns=[X.columns])
dfcolum

NameError: name 'ordered_feature' is not defined

In [62]:
pd.concate([dfcolumns,dfscores],axis=1)

AttributeError: module 'pandas' has no attribute 'concate'

In [63]:
features_rank.columns=['Features','Score']

NameError: name 'features_rank' is not defined

In [64]:
features_rank

NameError: name 'features_rank' is not defined

In [65]:
feature_rank.nlargest(10,'score')

NameError: name 'feature_rank' is not defined

In [66]:
#### Feature Importance
This Technique gives you a score for each feature of yor data, the higher the score more relevant it is for data.

SyntaxError: invalid syntax (923558546.py, line 2)

In [67]:
from sklearn.ensemble import ExtraTreesClassifier
import matplotlib.pyplot as plt
model=ExtraTreesClassifier()
model.fit(X,y)

NameError: name 'y' is not defined

In [69]:
print(mode.feature_importances_)

NameError: name 'mode' is not defined

In [70]:
pd.Serie(model.feature_importances_,index=X.columns)

AttributeError: module 'pandas' has no attribute 'Serie'

### Correlation

In [73]:
import seaborn as sns
corr=df.corr()
top_features=corr.index
plt.figure(figsize=(20,20))
sns.heatmap(df[top_features].corr(),annot=True)

ValueError: could not convert string to float: 'S'

In [72]:
df.corr()

ValueError: could not convert string to float: 'S'

In [79]:
threshold=0.5

### Information Gain

In [75]:
from sklearn.feature_selection import mutual_infor_classif

ImportError: cannot import name 'mutual_infor_classif' from 'sklearn.feature_selection' (C:\Users\Ahmed\anaconda3\Lib\site-packages\sklearn\feature_selection\__init__.py)

In [76]:
mutual_info_classif(X,y)

NameError: name 'mutual_info_classif' is not defined

In [77]:
mutual_info=mutual_info_classif(X,y)

NameError: name 'mutual_info_classif' is not defined

In [78]:
mutual_data=pd.Series(mutual_info,index=X.columns)
mutual_data.sor_values(ascending=False)

NameError: name 'mutual_info' is not defined